*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.dark-grayish-blue{
  background-color: #343541;
}
.dark-slate-gray{
  background-color: #202123;
}

.dark-bluish-gray{
background-color: #40414F;
}

.dark-grayish-blue-color{
  background-color:  #444654;
}

.chatgpt-sidebar-container{
  width: 24%;
  height: 100vh;
  max-width: 24%; /* Adjust the maximum height as needed */
  overflow: hidden;
  transition: max-width 0.3s ease;
}
.chatgpt-sidebar-container-collapsed{
  max-width : 0;
}

.chatgpt-mainbody{
  width: 80%;
  height: 100vh;
}

.chat-gpt-logo-button:hover{
  background-color: #40414F;
}

.api-access-error{
  color: rgb(114, 32, 32)!important;
}
.chat-gpt-logo{
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatgpt-search-suggestion-box a{
  width: 40%;
}
.chatgpt-search-suggestion-box a:hover{
  background-color: #40414F;

}

.chat-gpt-inner-search-history{
  height: 39rem;
  overflow-y: scroll;
}
.chatgpt-search-history-list:hover{
  background-color: #2A2B32;
  border-radius: 5px;
}

.chatgpt-search-searchbox-searchinput:focus{
  background-color: #40414F;
}

.chatgpt-search-searchbox-searchinput::placeholder{
  color: #fff;
}

.chat-gpt-main-result-container::-webkit-scrollbar {
  display: none;
}

.chat-gpt-inner-search-history::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-gpt-main-result-container, .chat-gpt-inner-search-history {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.chat-gpt-inner-search-history {
  height: 70vh;
}

.update-api-key-button:hover{
  background-color: #202123;
}

.typing-animation {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

.dot-1, .dot-2, .dot-3 {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50%;
  margin-left: 5px;
  animation: typing 1s infinite;
}

@keyframes typing {
  0% { opacity: 0.2; }
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  100% { opacity: 0.2; }
}

/* // Chat GPT UI login form */
.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
  width: 80px;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f,
      0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #a7aaa7,
      -8px -8px 15px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
  color: #555;
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03A9F4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1,
      -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.wrapper .btn:hover {
  background-color: #039BE5;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03A9F4;
}

.wrapper a:hover {
  color: #039BE5;
}